<div id="id_div1" class="text-center">
    <h2> COMPANY <i class="bi bi-chevron-double-up text-success text"></i> CRM </h2>
    <br>
    <h5>Sign Up with your account</h5>
</div>


<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="col-6 m-auto">

    <div class="mb-3">
        <label for="name" class="form-label">* Name:</label>
        <input #nameFieldRef formControlName="name" type="text" id="name" class="form-control" placeholder="enter your name...">
    </div>

    <app-field-error [formField]="getFieldControl('name')"></app-field-error>

    <div class="mb-3">
        <label for="email" class="form-label">* Email:</label>
        <input formControlName="email" type="text" class="form-control" id="email" placeholder="name@email.com...">
    </div>

    <app-field-error [formField]="getFieldControl('email')"></app-field-error>

    <div class="mb-3">
        <label for="password" class="form-label">* Password:</label>
        <input formControlName="password" type="password" class="form-control" id="password">
    </div>

    <app-field-error [formField]="getFieldControl('password')"></app-field-error>

    <button [disabled]="signupForm.invalid" type="submit" class="btn btn-success btn-lg">
        Sign Up
    </button>
</form>
